@{
    Layout = "~/Views/Shared/Lay.cshtml";
}
<h3>Эта статья была удалена ее создателем</h3>
<center><a href="http://newswebsitet3.azurewebsites.net/" class="btn" style="margin-top:15px;margin-left:15px"><i class="material-icons">На главную</i></a></center>

